.inputMask {
    position: relative;
    width: fit-content;
    display: block;
}

.inputMaskContent {
    position: absolute;
    font-size: 24px;
    padding: 8px 16px;
    line-height: 1.5;
    left: 2px;
    top: -2px;
    pointer-events: none;
    width: 200px;
    z-index: 1;
}


